<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.ylw.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.springboot.ylw.entity.Admin">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="role" property="role"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM admin WHERE id = #{id}
    </select>

    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT * FROM admin WHERE username = #{username}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM admin ORDER BY create_time DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO admin (username, password, role) VALUES (#{username}, #{password}, #{role})
    </insert>

    <update id="update">
        UPDATE admin
        <set>
            <if test="password != null">password = #{password},</if>
            <if test="role != null">role = #{role},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM admin WHERE id = #{id}
    </delete>

</mapper>
